[submodule "tfjs-examples"]
	path = tfjs-examples
	url = git@github.com:tensorflow/tfjs-examples.git
[submodule "keras-js"]
	path = keras-js
	url = git@github.com:transcranial/keras-js.git
[submodule "tfjs-models"]
	path = tfjs-models
	url = git@github.com:tensorflow/tfjs-models.git
